<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title></title>
    </head>
    <body>
        <!--
        <nav>
            <div class="container">
                <ul>
                    <li><a href="#">BRAND</a></li>
                    <li><a href="#">ADMIN</a></li>
                    <li><a href="#">OTHER</a></li>
                </ul>
            </div>
        </nav>-->
        <div class="container">
            {% block body_block %}
                <!--Anything outside of this will be inherited if you extend!-->
            {% endblock %}
        </div>
    </body>
</html>